.nightHawk {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.nightHawk a,
.nightHawk a.button {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.nightHawk a {
  color: #1EAEDB;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.nightHawk a:hover {
  color: #ffffff;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.nightHawk .button:hover {
  background-color: #ffffff;
  color: #000000;
}
body {
  background-color: #ffffff;
  color: #000000;
}
body a.button:hover {
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
body a,
body a.button {
  color: #000000;
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.container {
  max-width: 800px;
}
.header {
  text-align: center;
}
section {
  height: 100%;
}
section {
  margin-top: 15rem;
}
footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.flat-list {
  margin-top: 50px;
  margin-bottom: 50px;
}
.flat-list li {
  display: inline-block;
  padding-left: 10px;
}
.course-code {
  text-transform: lowercase;
  font-variant: small-caps;
}
/* Larger than phone */

@media (min-width: 550px) {
  section {
    margin-top: 18rem;
    padding-bottom: 15rem;
  }
}
* {
  text-rendering: optimizeLegibility;
}
